<div class="m-module" data-module="comments" data-url="{{ path('comment_list', {'featureId':'--ID--'}) }}">
    <form class="row-fluid" method="post" action="{{ path('comment_new', {'featureId':feature.id}) }}">
        <div class="span10" >
            <textarea name="comment" placeholder="Добавить комментарий" style="width:100%"></textarea>
        </div>
        <div class="span2" style="margin-top:7px">
            <input type="submit" class="btn" value="Отправить"/>
        </div>
    </form>
    {% for comment in comments %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ comment.avatar }}">
            </a>
            <div class="media-body">
                <div class="media-body-content">{{ comment.comment }}
                    <div>
                        {% if comment.can_manage %}
                            <a class="delete" data-comment-id="{{ comment.id }}" href="{{ path('comment_delete', {'featureId':feature.id}) }}">Удалить</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>