{% extends "layout_fluid_2col.twig" %}

{% block body %}
<body class="project">
    {{ render(url('menu')) }}
    <div class="subheader">
        <div class="container-fluid">
            <h1>Новая фича в проекте &laquo;{{ project.name }}&raquo;</h1>
        </div>
    </div>
    <div class="container">
        <br />
        <form class="form-centered" method="post">
            <h2 class="form-project-heading">Добавить фичу? Легко!</h2>
            <div class="control-group control-group_nomargin {% if errors.name is defined %}error{% endif %}">
                <input name="name" value="{{ name|default('') }}"
                       type="text"
                       class="input-block-level"
                       placeholder="Узнаваемый заголовок для фичи">
            </div>
            <div class="control-group control-group_nomargin {% if errors.description is defined %}error{% endif %}">
                <textarea name="description" placeholder="Описание"
                          class="input-block-level"
                          rows="8">{{ description|default('') }}</textarea>
            </div>
            <div class="control-group control-group_nomargin {% if errors.url is defined %}error{% endif %}">
                <input name="url" value="{{ url|default('') }}"
                       type="text"
                       class="input-block-level"
                       placeholder="URL где вы это видели">
            </url>
            <button class="btn btn-large btn-primary" type="submit">{% if edit is defined %}Сохранить{% else %}Создать{% endif %}</button>
        </form>
    </div>
</body>
{% endblock %}