<div class="well clickable m-module data-feature" data-module="features" data-feature-id="{{ feature.id }}">
    <a class="pull-left feature-author" href="#">
        <img class="media-object"
             title="{{ author.firstname~' '~author.lastname }}"
             src="{{ avatar }}">
    </a>
    <a href="">{{ feature.name }}</a>
    <p>{{ feature.description }}</p>
    <div>
        <i class="icon-tags" style="padding-right:6px"></i>
        <span class="label label-info">Меню</span>
    </div>
    <div style="margin-top:10px" class="clearfix">
        {% if can_manage %}
            <a class="edit" href="{{ path('feature_edit', {'projectId': project.id, 'featureId': feature.id}) }}">Редактировать</a>
            <a data-project-url="{{ path('project_view', {'id': project.id}) }}" class="delete" href="{{ path('feature_delete', {'projectId': project.id}) }}">Удалить</a>
        {% endif %}
        <div class="rating pull-right" data-score="{{ feature.agg_rating_avg }}"></div>
        <script>jQuery('.rating').last().raty({ 
            score: function() {
                return $(this).attr('data-score');}, 
            readOnly: true,
            path: "{{ app.request.baseUrl ~ '/img' }}"
        })</script>
    </div>
</div>