/*redeclared bootstrap style to remove bottom margin */
.navbar {
    margin-bottom:0;
}
.subheader h1 {
    font-size: 18px;
}

.subheader {
    background: whiteSmoke;
    border-bottom:1px solid #CCC;
}

/* modification for bootstrap .control-group class which removes bottom margin */
.control-group_nomargin {
    margin-bottom: 0;
}

.media-body-content {
    min-height:65px;
}
.well.selected {
    background-color: #DADAFF;
}

.well.clickable {
    cursor: pointer;
}

.feature-author {
    margin: 4px 12px 0px 0px;
}

body.signin {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
body.project {
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.invitation input{
    margin-top: 12px;
}

/* styles for the gorgeous form with rounded corners */
.form-centered {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
/* modification for .form-centered class which makes form narrower */
.form-centered_narrow {
    max-width: 300px;
}