{% extends "layout_fluid_2col.twig" %}

{% block body %}
<body class="project">
    {{ render(url('menu')) }}
    <div class="subheader">
        <div class="container-fluid">
            <h1>Новый проект</h1>
        </div>
    </div>
    <div class="container">
        <br />
        <form class="form-centered" method="post">
            <h2 class="form-project-heading">Назовите свой проект</h2>
            <input name="project_name" value="{{ project_name|default('') }}" type="text" class="input-block-level" placeholder="Название проекта">
            <button class="btn btn-large btn-primary" type="submit">Создать</button>
        </form>
    </div>
</body>
{% endblock %}