{% extends "layout_fluid_2col.twig" %}
{% block main_heading %}Подборка фич для проекта &laquo;{{ project.name }}&raquo;{% endblock %}
{% block add_head_scripts %}
    <script src="{{ app.request.baseUrl ~ '/js/modlr.js' }}"></script>
    <script src="{{ app.request.baseUrl ~ '/js/module_features.js' }}"></script>
    <script src="{{ app.request.baseUrl ~ '/js/module_comments.js' }}"></script>
    <script src="{{ app.request.baseUrl ~ '/js/vtf.js' }}"></script>
{% endblock %}
{% block subheader %}
    <a href="{{ path('feature_new', {'projectId':project.id}) }}" class="btn pull-left" style="margin-top:12px;margin-left:12px">
        Добавить фичу
    </a>
{% endblock %}
{% block invitation %}
    <form action="{{ path('invitation_send') }}" class="invitation" method="post">
        <input id="email-invitations" type="text" class="span2" placeholder="E-mail">
        <buttom id="{{ project.id }}" type="submit" class="btn" onclick="SendForm();return false">Пригласить</buttom>
    </form>
{% endblock %}
{% block left %}
    <h2>Фичи</h2>
    <div class="row-fluid">
        <div class="span12">
            <a href="">Новые</a> Крутые <a href="">Неоцененные</a>
        </div>
    </div>
    {{ render(path('feature_list', {'projectId': project.id})) }}
{% endblock %}

{% block right %}
        <div class="floating">
            <h2>Обсуждение</h2>

            <p><div id="feature-score" class="rating" data-feature-id="0"></div></p>
            <script>featureScore({{ userId }})</script>
        
            <div class="m-module" data-module="comments" data-url="{{ path('comment_list', {'featureId':'--ID--'}) }}"></div>

        {#<div class="media">#}
            {#<a class="pull-left" href="#">#}
                {#<img class="media-object" src="{{ app.request.baseUrl ~ '/img/holder_64x64.png' }}">#}
            {#</a>#}
            {#<div class="media-body">#}
                {#<div class="media-body-content">Интересный и функциональный мегадропдаун#}
                {#<div>#}
                    {#<a href="">Ответить</a>#}
                    {#<a href="">Изменить</a>#}
                    {#<a href="">Удалить</a>#}
                {#</div>#}

                {#</div>#}

                {#<!-- Nested media object -->#}
                {#<div class="media">#}
                    {#<a class="pull-left" href="#">#}
                        {#<img class="media-object" src="{{ app.request.baseUrl ~ '/img/holder_64x64.png' }}">#}
                    {#</a>#}
                    {#<div class="media-body">#}
                        {#<div class="media-body-content">#}
                            {#Интересный и функциональный мегадропдаун в главном меню - мы можем например разместить там топселлеры.#}
                            {#Зря он деньги отдал. Маленький заводик по переработке промышленных отходов, стабильный доход.#}
                            {#<div>#}
                                {#<a href="">Ответить</a>#}
                                {#<a href="">Изменить</a>#}
                                {#<a href="">Удалить</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<!-- Nested media object -->#}


                        {#<!-- /Nested media object -->#}
                    {#</div>#}
                {#</div>#}
                {#<!-- /Nested media object -->#}
            {#</div>#}
        {#</div>#}
        </div>
{% endblock %}