{% extends "layout_general.twig" %}

{% block body %}
<body class="signin">
    <div class="container">
        <form class="form-centered form-centered_narrow form-signin" method="post">
            <h2 class="form-signin-heading">Кто вы?</h2>
            {% if error is defined  %}
                <p class="text-error">Извините, вы видимо что-то напутали.</p>
            {% endif %}
            <input name="email" value="{{ email|default('') }}" type="text" class="input-block-level" placeholder="Email address">
            <input name="password" type="password" class="input-block-level" placeholder="Password">
            <button class="btn btn-large btn-primary" type="submit">Войти</button>
            <span style="padding-left:15px">или <a href="{{ path('register') }}">зарегистрироваться?</a></span>
        </form>
    </div>
</body>
{% endblock %}
