<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="{{ path('home') }}">Vote For Features!</a>
        {% if current_user  %}
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">проекты <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for project in projects  %}
                        <li><a href="{{ path('project_view', {'id':project.id}) }}">{{ project.name}}</a></li>
                    {% else %}
                        <li class="disabled"><a tabindex="-1" href="#">Пока проектов нет</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="{{ path('project_new') }}">Создать проект</a></li>
                </ul>
            </li>
        </ul>
        <a href="{{ path('project_new') }}" class="btn">Создать</a>
        {% endif %}
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            {% if current_user %}
                <li>
                    <a>{{ current_user.firstname ~' '~ current_user.lastname }}</a>
                </li>
                <a href="{{ path('logout') }}" class="btn">Выйти</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn">Войти</a>
            {% endif %}
        </ul>
    </div>
</div>