{% extends "layout_general.twig" %}

{% block body %}
<body class="signin">
    <div class="container">
        <form class="form-centered form-centered_narrow form-signin" method="post">
            <h2 class="form-signin-heading">Регистрация</h2>
            <div class="control-group control-group_nomargin {% if errors.email is defined or errors.unique is defined %}error{% endif %}">
                <input name="email" value="{% if email is defined %}{{ email }}{% endif %}" type="text" class="input-block-level" placeholder="E-mail">
                {% if errors.unique is defined %}
                    <span class="help-block" style="margin-top:-10px">Этот e-mail уже зарегистрирован.</span>
                {% endif %}
            </div>

            <div class="control-group control-group_nomargin {% if errors.password is defined %}error{% endif %}">
                <input name="password" value="{% if password is defined %}{{ password }}{% endif %}" type="password" class="input-block-level" placeholder="Пароль">
            </div>

            <div class="control-group control-group_nomargin {% if errors.firstname is defined %}error{% endif %}">
                <input name="firstname" value="{% if firstname is defined %}{{ firstname }}{% endif %}" type="text" class="input-block-level" placeholder="Имя">
            </div>

            <div class="control-group control-group_nomargin {% if errors.lastname is defined %}error{% endif %}">
                <input name="lastname" value="{% if lastname is defined %}{{ lastname }}{% endif %}" type="text" class="input-block-level" placeholder="Фамилия">
            </div>
            <button class="btn btn-large btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</body>
{% endblock %}