{% extends "layout_general.twig" %}

{% block body %}
    <body>
    {{ render(url('menu')) }}
    <div class="container">
        <br/>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>Добро пожаловать на VTF</h1>
            <br/>
            <p>VTF это бесплатный сервис, который помогает командам собирать идеи для своих проектов в одном месте,
               обсуждать их и выбирать наиболее важные.</p>
            {% if not current_user %}
            <p>
                <a href="{{ path('register') }}" class="btn btn-primary btn-large pull-left">&laquo; Регистрация</a>
                <a href="{{ path('login') }}" class="btn btn-primary btn-large pull-right">Вход &raquo;</a>
            </p>
            {% endif %}
        </div>


        <hr>

        <footer>
            <p>&copy; VTF 2013</p>
        </footer>

    </div> <!-- /container -->
    </body>
{% endblock %}