{% extends "layout_general.twig" %}

{% block body %}
<body>
{{ render(url('menu')) }}
<div class="subheader">
    <div class="container-fluid">
        <div class="pull-left">
            <h1>{% block main_heading %}Подборка фич{% endblock %}</h1>
        </div>
        <div class="pull-left">
            {% block subheader %}{% endblock %}
        </div>
        <div class="pull-right">
            {% block invitation %}{% endblock %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            {% block left %}
                This is the left
            {% endblock %}
        </div>
        <div class="span8">
            {% block right %}
                This is the right
            {% endblock %}
        </div>
    </div>
</div>
</body>
{% endblock %}
