<!DOCTYPE html>
<head>
    <script src="{{ app.request.baseUrl ~ '/js/jquery-1.10.1.js' }}"></script>
    <script src="{{ app.request.baseUrl ~ '/js/bootstrap.js' }}"></script>
    <script src="{{ app.request.baseUrl ~ '/js/jquery.raty.js' }}"></script>
    <script>window.baseUrl = "{{ app.request.baseUrl }}"</script>
    {% block add_head_scripts %} {% endblock %}
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/bootstrap.css' }}" />
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/style.css' }}" />
    {% block add_head_css %} {% endblock %}
    <meta charset='utf-8'>
    <title></title>
</head>
{% block body %}
<body>

</body>
{% endblock %}
